@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

.remark-slide {
  display: flex;
}

.remark-slide-content {
  background-color: #fcfcfc;
  padding: 1em 2em;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.remark-slide-content {
  padding-bottom: 2em;
}

h1 + *,
h2 + *,
p + *,
ul + *{ 
  margin-top: 0;
}

td > * {
  margin-top: 0;
  margin-bottom: 0;
}

td {
  vertical-align: top;
}

td {
  padding-bottom: 0.5em;
}

.remark-slide-content > *:first-child {
  margin-top: 0.3em;
}

.remark-slide-content :not(h1) {
  /* margin-left: 1em; */
}

.remark-slide-content p,
.remark-slide-content ul,
.remark-slide-content table {
  font-size: 40px;
}

ul {
  list-style-position: inside;
}

table ul {
  list-style-position: outside;
}

.remark-slide .middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

body {
  font-family: 'Lato';
  color: #313234;
  counter-reset: footnotes;
}

h1, h2, h3 {
  font-weight: 700;
}

.title_slide h1 {
  font-size: 50px;
}

.title_slide h2 {
  font-style: italic;
  position: inherit;
  font-weight: 400;
  font-size: 34px;
}

h1 + * {
  /* margin-top: -0.5em; */
}

pre {
  width: 100%
}

.small-code pre {
  width: auto;
}

.remark-code, .remark-inline-code {
  font-family: 'Fira Mono';
  font-size: 1em;
}

.hljs.remark-code {
  padding: 0.8em 0;
}

.remark-code-line {
  padding: 0 0.8em 
}

.remark-code-line-highlighted {
  background-color: #d4e1f5;
}

.hljs-vs .hljs {
  background-color: #f1f1f1;
}

.hljs-vs .hljs-keyword {
  color: #000;
  font-weight: 500;
}

.hljs-vs .hljs-comment {
  color: #bbb;
}

.hljs-vs .hljs-title {
  color: #cf4431;
}

.hljs-vs .hljs-number {
  color: #cf4431;
}

.gray-out-code .hljs .remark-code-line:not(.remark-code-line-highlighted) {
  opacity: 0.3;
}

.small-code code.hljs {
  display: inline-block;
}

.overbar {
  border-top: 0.8em solid #6c7d88;
}

.title_slide {
  padding-top: 3em;
}

.quote-slide {
  font-size: 40px;
}

.names-block {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #333;
  color: #fcfcfc;
  left: 0;
  padding: 1.8em;
}

.names-block > * {
  vertical-align: top;
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
}

.names-block > div {
  margin-right: 1em;
}

.names-block > em {
  margin-right: 0.5em;
}

.names-block em {
  font-weight: normal;
}

.no_number .remark-slide-number {
  display: none;
}

.remark-slide-number {
  opacity: 1;
  color: #a1a2a4;
  font-size: 20px;
  bottom: 1.2em;
  right: 1.8em;
}

.ref {
  color: #a1a2a4;
  font-size: 15px;
}

.ref p {
  margin: 0;
}

.ref a {
  color: #a1a2a4;
  text-decoration: none;
  border-bottom: 1px solid #a1a2a4;
}

.dark {
  background-color: #313234;
  color: #fcfcfc;
}

.uppercase_titles h1 {
  text-transform: uppercase;
}

sup {
  font-size: 18px;
}

.footnotes {
  position: absolute;
  bottom: 3em;
  font-size: 18px;
  font-style: italic;
  color: #616264;
}

.footnotes a {
  color: #616264;
}

blockquote {
  font-style: italic;
  font-size: 40px;
  margin: 0;
  padding: 1em;
  background-color: #e7e8ea;
}

blockquote strong {
  font-weight: 800;
  color: #dd3636;
}

blockquote > p:first-child {
  margin-top: 0;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

.cite {
  font-size: 20px;
  color: #818284;
}

.cite a {
  color: #818284;
  text-decoration: none;
  border-bottom: 1px solid #818284;
}

.hl {
  padding: 4px;
}

.hl-active {
  padding: 4px;
  background-color: #dd3636;
}

.hidden {
  visibility: hidden;
}

.center-title h1 {
  text-align: center;
}

.center-content :not(h1) {
  margin-left: auto;
  margin-right: auto;
}

.underline {
  border-bottom: 0.1em solid #dd3636;
}

.middle > p {
  height: 100%;
  margin: 0;
  vertical-align: middle;
}

.expand {
  width: 100%;
}

.expand > img {
  display: block;
  margin: auto;
}

#schedule td {
  padding-bottom: 0
}

table#schedule {
  border-top: 0.05em solid black;
  border-bottom: 0.05em solid black;
}

table#schedule td {
  padding: 0 0.3em;
}

.schedule-core {
  color: #129e57;
  padding-right: 0.5em;
}

.schedule-ext {
  color: #ff5c30;
}

@page {
  size: 1280px 720px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
